@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

:root {
    --color-bg: #6B705C;
    --color-text: #FFE8D6;
    --color-primary: #CB997E;
    --color-secondary: #DDBEA9;
    --color-tertiary: #B7B7A4;
    --color-quaternary: #A5A58D;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 1rem 0;
}

nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 1rem 0;
    text-align: center;
}