@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css');

* {
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

:root {
    --color-bg: #6B705C;
    --color-text: #FFE8D6;
    --color-primary: #CB997E;
    --color-secondary: #DDBEA9;
    --color-tertiary: #B7B7A4;
    --color-quaternary: #A5A58D;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-quaternary);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-quaternary);
    border: 3px solid var(--color-quaternary);
    padding: 0.8rem 2rem;
    border-radius: 10px;
}

a:hover {
    text-decoration: none;
    color: var(--color-bg);
    background-color: var(--color-quaternary);
    border: 3px solid var(--color-text);
}

p a {
    border: none;
    padding: 0;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

nav {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 1rem;
    text-align: center;
    height: 80vh;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

header div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-flow: row wrap;
}

main {
    padding: 2rem 0;
}

section {
    margin-bottom: 2rem;
}

/* Homepage */
#homepage-header {
    background-image: url('../images/homepagedarker.jpg');
}

#section-features {
    display: flex;
    gap: 2rem;
    flex-flow: row wrap;       
}

.feature {  
    display: flex;
    align-items: center;
    flex: 1;
    border: 2px solid var(--color-tertiary);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--color-tertiary);
}

.feature span {
    font-size: 3rem;
    margin-right: 1rem;
}

#reserve {
    text-align: center;
    
}

#reserve p {
    margin-bottom: 2rem;
}

#reserve a {
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
}

/* Footer */
footer {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 1rem 0;
    text-align: center;
}

footer div {
    display: flex;
    align-items: center;
}

.footerinfo {
    display: flex;
    flex-direction: column;
}

.footernav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 20px;
}

.footerlinks {
    display: flex;
    gap: 1rem;
}

footer strong {
    font-size: 1.5rem;
    margin-right: 1rem;
}

footer a {
    background-color: var(--color-bg);
    border: 3px solid var(--color-bg);
}

.socials {
    display: flex;
    flex-direction: column;
}

.socials a {
    background-color: var(--color-text);
}
